<h2 mat-dialog-title>Registrar Dolencia</h2>
<mat-dialog-content class="mat-typography"  align="center">
  <form class="container" [formGroup]="form" #f="ngForm">
      <mat-form-field appearance="outline">
        <mat-label>Dolencia</mat-label>
        <input matInput placeholder="dolencia" required formControlName="dolencia">
      </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary"  type="button" (click)="save()" [disabled]="f.invalid">Aceptar</button>
</mat-dialog-actions>
