

.menu-sinedav {
  background-color: #2f3d4a;
  color: #67757c;

  .container-sinedav {
    button {
      color: #67757c;
      mat-icon {
        color: rgba(0, 0, 0, 0.9);
      }

      &:hover {
        mat-icon {
          color: white;
          transition: 0.45s;
        }
        transition: 0.45s;
        background-color: #3e74d3;
        color: white;
      }
      &:focus-within{
        mat-icon {
          color: white;
          transition: 0.45s;
        }
        transition: 0.45s;
        background-color: #3e74d3;
        color: white;
      }

    }
  }
}
