<h2 mat-dialog-title>Registrar Categoria</h2>
<mat-dialog-content class="mat-typography"  align="center">
  <form class="container" [formGroup]="form" #f="ngForm">
      <mat-form-field appearance="outline">
        <mat-label>Categoria</mat-label>
        <input matInput placeholder="categoria" required formControlName="categoria">
      </mat-form-field>
      <br>
        <mat-form-field appearance="outline">
          <mat-label>Estado</mat-label>
          <input matInput placeholder="estado" required formControlName="estado">
        </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary"  type="button" (click)="save()" [disabled]="f.invalid">Aceptar</button>
</mat-dialog-actions>
