.fondo{
    background: #eff3f6;
}

.ventana{
    margin: 5px;
    padding: 15px;
}
.selec-dato{
    padding-left: 15px;

}
.table{
    .table-dato{
        
        border-radius: 2px ;
        margin: 5px;
    }
}
.listProq{
    position: fixed;
    top: 0;
    height: 100%;
    left: 0;
    background: #17a2b8;
    z-index: 411;
    width: 0;
    overflow-x: hidden; 
    transition: 0.8s ;
    >div{
        margin: 30px ;

    }
}

$breakpoint-xs: 360px;
$breakpoint-sm: 767px;
$breakpoint-md: 1023px;
$breakpoint-lg: 1360px;

@mixin media($media) {
  @if $media == xs {
    @media (max-width: $breakpoint-sm) { @content; }
  }
  @else if $media == sm {
    @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) { @content; }
  }
  @else if $media == md {
    @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) { @content; }
  }
  @else if $media == lg {
    @media (min-width: $breakpoint-lg) { @content; }
  }
}
.jbox-main {
  .jbox-image {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, background-color 0s, opacity 0s;

  }

  &:hover {
    .jbox-image {
      opacity: 1;
      visibility: visible;
      transition: visibility 1s, background-color 3s, opacity 2s;
      background: linear-gradient(red, white);
    }
  }
}

.fila {
  cursor: pointer;

  &:hover {
    background: var(--ColorHover)
  }

}

.focusSelect {
  background: var(--ColorFocus);
}

.defaulRow {
  background: var(--ColorFocus);
}

.configuration-producto {
  margin: 10px;

  mat-checkbox {
    margin: 10px;
  }
}




mat-toolbar{
  @include media(xs){
    .table-title{
      font-size: 14px;
    }
    input{
      font-size: 14px;
    }
    button {
      min-width : 22px;
      mat-icon{
        font-size: 14px;
      padding: 1px;
    }
  }
  
}

}
.snovaw{
    transform: translateX(300px); 
    right: 0px; 
    position: fixed ; 
    bottom: 0px; 
    height: 100%;
    width: 300px;
    color: white;
  @include media(xs){
    transition:  1s  ;
    width: 100%;
    height: 176px;
    transform: translateX(0px); 
    visibility: hidden;
    opacity: 0;
  }

}

.snovaw-open{
  transition: all 1s; 
  right: 0px; 
  bottom: 0px; 
  height: 100%;
  width: 300px;
  position: absolute ;
  overflow: hidden;
  color: darkblue ;
  padding-bottom: 30000px;
  margin-bottom: -30000px;
  @include media(xs){
    transition:  1s  ;
    width: 100%;
    height: 176px;
    transform: translateX(0px); 
    position: fixed;
    opacity: 1;
    visibility: visible;
    overflow: auto;
  }
}

.input-table div {
  border-top: 0px;
}