<div >
  <form  >
    <div class="form-data"  >
      <div class="data" fxFlex="100%" fxLayout="column"  >
        <div >
          <mat-icon>computer</mat-icon>
          Datos de la Venta :
        </div>
        <mat-divider > </mat-divider>
        <div fxFlex="100%" >
          Cliente :
          <mat-form-field  floatLabel="never" fxFlex="72%" >
            <input matInput    placeholder="Introduzca cliente..." >
            <mat-icon matSuffix >perm_identity</mat-icon>
          </mat-form-field> 
          Serie :
          <mat-form-field  floatLabel="never" fxFlex="13%" >
            <input  matInput placeholder="N° proforma...">
  
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
</div>