<div class="example-container " style="overflow:auto">
  <mat-toolbar color="accent" style="color:white;background-color: #564FC1" class="example-toolbar">
    <button class="option-nav" *ngIf="searchMode!=='close'" mat-icon-button (click)="sidenav.toggle()"
      style="color:white">
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
      <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>

    <h1 class="example-app-name option-nav"> Megasis</h1>
    <mat-form-field *ngIf="searchMode==='close'"
      style="width:100% ; color : #2ac4ea ;font-size: 14px ; margin-left: 10px">
      <input style="font-size: 14px ;  " matInput placeholder="buscar..">
    </mat-form-field>

    <span class="example-spacer"></span>
    <div class="sinedav option-nav" *ngIf="searchMode!=='close'">
      <button mat-icon-button title="ultima ventas">
        <mat-icon aria-label="label">list</mat-icon>
      </button>
    </div>
    <button class="option-nav" mat-icon-button title="buscar" (click)="changeSeacch() ">
      <mat-icon>{{searchMode}}</mat-icon>
    </button>
    <button *ngIf="searchMode!=='close'" class="option-nav" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="roles" routerLink="/perfil">
        <mat-icon>account_box</mat-icon>
        <span *ngIf="userName">{{userName | uppercase }}</span>
        <span *ngIf="!userName">Anonimo</span>
        <button mat-menu-item>
          <mat-icon>build</mat-icon>
          <span>Configuracion</span>
        </button>
      </button>
      <button mat-menu-item (click)="sidenav.opened = false">
        <mat-icon>exit_to_app</mat-icon>
        <span>Cerrar Sesión</span>
      </button>

    </mat-menu>
    <mat-menu #roles="matMenu">
      <mat-list>
        <h3 mat-subheader>Roles</h3>
        <mat-list-item *ngFor="let rol of userRoles">
          <mat-icon mat-list-icon>folder</mat-icon>
          <h4 mat-line>{{ rol.nombre | uppercase }}</h4>
          <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #sidenav mode="side" class="menu-sinedav" style="width: 270px">
      <div class="sidenav-full">

        <div class="logo">
          <img
            src="https://lh3.googleusercontent.com/-YuZUWA6_26w/WUkgwPYIS_I/AAAAAAAAADI/gZDsSjYoyH8-qp19K-o6zS1nK6iPGQ8VQCEwYBhgL/w140-h140-p/image-portada-dragon.jpg"
            style="border-radius: 50% ;" width="64">
          <br>
          <span *ngIf="userName" fxHide fxShow.gt-sm>{{userName | uppercase }}</span>
          <span *ngIf="!userName" fxHide fxShow.gt-sm class="name">Anonimo</span>
          <br>
          <span style="font-size: 12px ">Gerente</span>
        </div>
        <mat-divider></mat-divider>

        <div class="container-sinedav">
          <ul class="list-nav">

            <li class="list">
              <button mat-menu-item routerLink="/producto">
                <mat-icon>view_list</mat-icon>
                <span>Tienda</span>
              </button>
              <ul>
                <li>
                  <button mat-menu-item routerLink="/producto">
                    <mat-icon>add_to_queue</mat-icon>
                    <span>Producto</span>
                  </button>
                </li>
                <li>
                  <button mat-menu-item routerLink="/producto">
                    <mat-icon>tab</mat-icon>
                    <span>Unidad de Medida</span>
                  </button>
                </li>
                <li>
                  <button mat-menu-item routerLink="/producto">
                    <mat-icon>library_books</mat-icon>
                    <span>Categoria</span>
                  </button>
                </li>
                <li>
                  <button mat-menu-item routerLink="/producto">
                    <mat-icon>queue</mat-icon>
                    <span>Dolencia</span>
                  </button>
                </li>
                <li>
                  <button mat-menu-item routerLink="/producto">
                    <mat-icon>receipt</mat-icon>
                    <span>Tipo de Comprobante</span>
                  </button>
                </li>
                <li>
                  <button mat-menu-item routerLink="/producto">
                    <mat-icon>description</mat-icon>
                    <span>Documento</span>
                  </button>
                </li>
              </ul>
            </li>
            <li class="list">
              <button mat-menu-item>
                <mat-icon>add_to_queue</mat-icon>
                <span>Servicio</span>
              </button>
              <ul>
                <li>
                  <button mat-menu-item routerLink="/producto">
                    <mat-icon>add_shopping_cart</mat-icon>
                    <span>Compra</span>
                  </button>
                </li>
                <li>
                  <button mat-menu-item routerLink="/venta">
                    <mat-icon>shopping_cart</mat-icon>
                    <span>Venta</span>
                  </button>
                </li>
                <li>
                  <button mat-menu-item routerLink="/producto">
                    <mat-icon>shopping_basket</mat-icon>
                    <span>Proforma</span>
                  </button>
                </li>
              </ul>
            <li class="list">
              <button mat-menu-item routerLink="/producto">
                <mat-icon>supervised_user_circle</mat-icon>
                <span>Perfiles</span>
              </button>
              <ul>
                <li>
                  <button mat-menu-item routerLink="/producto">
                    <mat-icon>people</mat-icon>
                    <span>Proveedor</span>
                  </button>
                </li>
                <li>
                  <button mat-menu-item routerLink="/producto">
                    <mat-icon>wc</mat-icon>
                    <span>Cliente</span>
                  </button>
                </li>
                <li>
                  <button mat-menu-item routerLink="/producto">
                    <mat-icon>account_circle</mat-icon>
                    <span>Personal</span>
                  </button>
                </li>

              </ul>
            </li>
          </ul>
        </div>




        <mat-divider></mat-divider>
      </div>
    </mat-sidenav>

    <mat-sidenav-content class="sip">
      <div class="hijo">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>