.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-app-name {
  cursor: pointer;
}
.icon-personal {
  border-radius: 50%;
}
.example-toolbar {
  .option-nav {
    &:hover {
      color: #2ac4ea;
    }
    &:focus-within {
      color: #2ac4ea;
    }
  }
}
.example-sidenav-container {
  flex: 1;
  background: linear-gradient(white, #9198e5);
  .tittle-divider {
    margin: auto;
    text-align: center;
    font-size: 14px;

    margin-bottom: 10px;
  }
}

.example-spacer {
  flex: 1 1 auto;
}

.logo {
  width: auto;
  padding: 10px;
  display: block;
  margin: 0 50px;
  text-align: center;
  font-weight: 500;
  .name {
  }
}

.menu-sinedav {
  background: linear-gradient( to top  ,#564FC1, #9198e5);
  color: white;
  

  .container-sinedav {
    button {
      color: white;
      mat-icon {
        color: rgba(0, 0, 0, 0.9);
      }

      &:hover {
        mat-icon {
          color: white;
          transition: 0.45s;
        }
        transition: 0.45s;
        background-color: #2ac4ea;
        color: white;
      }
      &:focus-within {
        mat-icon {
          color: white;
          transition: 0.45s;
        }
        transition: 0.45s;
        background-color: #2ac4ea;
        color: white;
      }
    }
  }
}
.sip {
  position: relative;
}

.hijo {
  overflow: hidden;
  padding: 15px;
  top: 0;
  bottom: 0;
  padding-bottom: 30000px;
  margin-bottom: -30000px;
}

.list-nav {
  padding: 0px;

  li {
    text-decoration: none;
    list-style: none;
    padding: 0px;
    position: relative;
    &.list {
      position: relative;
      &::after {
        transition: 0.5s;
        content: " ";
        position: absolute;
        margin-top: -8px;
        border-width: 8px;
        right: 0px;
        top: 25px;
        border-style: solid;
        border-color: transparent black transparent transparent;
      }
    }
    
    ul {
     
      display: none;
      opacity: 0;
      visibility: hidden;
      transform: translateX(-220px)
    }
  }

  li {
    &:focus-within {
      &.list {
        &::after {
          content: " ";
          position: absolute;
          margin-top: -8px;
          border-width: 8px;
          right: 0px;
          top: 25px;
          border-style: solid;
          transform: rotate(-90deg);
        }
      }
      > ul {
        
        transform: translateX(0px);
        display: flex;
        flex-direction: column;
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
