<div class="page-layout blank p-24" megaPerfectScrollbar>
    <mat-toolbar>LISTA DE UNIDAD</mat-toolbar>
    <div fxLayout="row" fxLayout.xs="column">
      <div fxFlex="50%;" fxFlex.xs="50%">
        <mat-form-field class="field-container" appearance="outline">
          <mat-label>Buscar Unidad</mat-label>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar Unidad">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="mat-elevation-z8">
      <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="idUnidadmedida">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="15%"> ID </mat-header-cell>
          <mat-cell fxFlex="15%" *matCellDef="let element"> {{element.idUnidadmedida}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="codUnidadmedida">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="13%"> COD. UNIDAD </mat-header-cell>
          <mat-cell fxFlex="13%" *matCellDef="let element"> {{element.codUnidadmedida}} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="descripcion">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="20%"> DESCRIPCION</mat-header-cell>
          <mat-cell fxFlex="20%" *matCellDef="let element"> {{element.descripcion}} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="acciones">
          <mat-header-cell *matHeaderCellDef fxFlex="25%">ACCIONES</mat-header-cell>
          <mat-cell fxFlex="25%" *matCellDef="let row">
            <button mat-icon-button matTooltip="Editar" color="primary" (click)="openDialog(row)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Eliminar" color="accent" (click)="eliminar(row.idUnidadmedida)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  
    <button mat-fab color="accent" style="float:right" (click)="openDialog(unidad)">
      <mat-icon>create</mat-icon>
    </button>
  </div>