@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
:root {
    --ColorFocus: #3399FF ;
    --ColorHover: #fbec88 ;
}

.tabla{
    overflow-x: scroll;
    
}

.fondo-tabla {
    min-width: 800px;

}